@use 'variables' as *;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik";
  font-size: 1rem;
}

pre {
  background: #222122;
  border-radius: 5px;
  color: #f8f8f2;
  font-family: monospace;
  font-size: 1rem;
  padding: .75rem;
  white-space: pre-wrap !important;
}

label {
  font-family: "Karla";
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 0.2rem;

  & ~ span {
    margin-left: 0.5rem;
  }
}

#root > :only-child.form__section {
  background-color: #fff;
}

.modal-content {
  font-family: "Rubik";
}

.header {
  font-family: "Rubik";
  font-weight: bold;

  .navbar-brand {
    color: #fff !important;
    font-size: 1.4rem;

    svg {
      margin-left: 25px;
    }
  }

  .nav-link {
    color: #fff !important;
    position: relative;

    &.dropdown-toggle {
      align-items: center;
      border-radius: 20px;
      display: flex;

      & > * {
        margin-left: 10px;
      }

      &::after {
        display: none;
      }
    }
  }

  a.dropdown-item {
    font-weight: bold;

    &.active {
      background: transparent;
    }

    &:focus {
      color: #fff !important;
    }
  }

  .navbar-toggler {
    border-color: #fff !important;

    div {
      background: #fff;
      height: 2px;
      margin: 4px;
      width: 20px;
    }
  }

  @media (max-width: 991.9px) {
    .dropdown-menu-right {
      left: 0;
    }
  }
}

.btn {
  border-radius: 20px;

  &:disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.avatars {
  align-items: center;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5, 50px);
  justify-content: center;
  justify-items: center;
  list-style: none;

  li {
    border: 2px solid map-get($colors, dark);
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    padding: 4px;
    transition: 0.25s;
    width: 50px;

    &.selected {
      background: transparentize(#34cb79, 0.7);
      border: 2px solid #34cb79;
    }

    svg {
      align-items: center;
      display: flex;
      flex: 1;
      height: 100%;
      justify-content: center;
      width: 100%;
    }
  }
}

textarea {
  border-radius: 15px !important;
  resize: none;
}

.form-control {
  border: none;
  border-radius: 30px;
  box-shadow: none;
  font-size: 1rem;
  height: 48px;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.25s, border-color 0.15s;

  &:focus {
    box-shadow: 0 0 0 2.5px map-get($colors, navy);
    transition: box-shadow 0.25s, border-color 0.15s;
  }
}

.input-group-prepend button {
  border: 1px solid transparent;
  border-bottom-right-radius: 20px !important;
  border-top-right-radius: 20px !important;

  &:focus {
    box-shadow: none;
  }
}

#avatar {
  align-items: center;
  display: flex;
  justify-content: space-between;

  > span {
    align-items: center;
    background-size: cover;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;

    &:empty {
      border: 1px dashed;
    }

    svg {
      height: 50px;
      width: 50px;
    }
  }
}

.form__section {
  align-items: center;
  background: linear-gradient(to top, #92e5, #1595);
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .form__wrapper {
    background: lighten(map-get($colors, navy), 5);
    border-radius: 20px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
    min-height: 500px;
    overflow: hidden;
    padding: 50px;
    transition: min-height 0.5s;
    width: 400px;

    &.signup {
      min-height: 700px;
    }

    @media screen and (max-width: 375px) {
      padding: 60px 30px;
      width: 100%;
    }

    .form {
      color: #fff;
      position: relative;
      text-transform: uppercase;

      header {
        background: transparent;
        display: flex;
        font-family: "Karla";
        font-weight: 600;
        margin-bottom: 5%;
        text-transform: uppercase;

        span {
          color: #fff;
          cursor: pointer;
          font-size: 1.25rem;
          margin-right: 20px;
          position: relative;

          &::before {
            background: map-get($colors, primary);
            bottom: 0;
            content: "";
            height: 1px;
            position: absolute;
            width: 0;
          }

          &.active {
            &::before {
              transition: width 0.4s;
              width: 100%;
            }
          }
        }
      }

      &__login,
      &__signup {
        opacity: 0;
        position: absolute;
        transition: transform 0.7s, opacity 0.3s;
        width: 100%;

        &.active {
          opacity: 1;
          transform: translateX(0);
        }

        label {
          font-family: "Karla";
          font-size: 1.1rem;
          font-weight: 300;
          margin-bottom: 0.1rem;

          & ~ span {
            margin-left: 0.5rem;
          }
        }

        input {
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid transparent;
          border-radius: 20px;
          box-shadow: none;
          color: #fff;
          font-size: 1rem;
          height: auto;
          transition: 0.25s;

          &:focus {
            box-shadow: 0 0 0 2.5px map-get($colors, navy);
            transition: box-shadow 0.25s;
          }
        }

        button {
          font-family: "Karla";
          text-transform: uppercase;
          width: 100%;
        }
      }

      &__login {
        transform: translateY(300px);
      }

      &__signup {
        transform: translateY(400px);
      }
    }
  }
}

.profile {
  border-radius: 8px;
  margin: auto;
  margin-top: 15px;
  max-width: 980px;
  padding: 25px 40px;
  width: 100%;

  & > :first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__img {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;

    @media (max-width: 767px) {
      padding-bottom: 15px;
    }
  }

  ul {
    flex: 1;
    list-style: none;
    margin-left: 20px;

    @media (max-width: 767px) {
      margin-left: 0;
      width: 100%;
    }

    h2 {
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
    }

    li {
      border-radius: 4px;
      padding: 10px 18px;

      & + li {
        margin-top: 5px;
      }

      span {
        font-weight: 700;
        margin-right: 5px;
        text-transform: uppercase;
      }
    }
  }

  & > :last-child {
    justify-content: flex-end;

    @media (max-width: 767px) {
      justify-content: center;

      button {
        width: 100%;

        &:first-child {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        &:last-child {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }
}

.switch {
  display: inline-block;
  height: 15px;
  margin-bottom: 0;
  margin-right: 20px;
  position: relative;
  width: 50px;

  @media (max-width: 991.9px) {
    margin: 0.5rem 0;
  }

  input {
    height: 0;
    opacity: 0;
    width: 0;

    &:checked + .slider-round {
      background: #000;

      &::before {
        transform: translateX(30px);
      }
    }

    &:focus + .slider-round {
      box-shadow: 0 0 1px #000;
    }
  }

  .slider-round {
    background: #fff;
    border-radius: 30px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s;

    &::before {
      background: #aaa;
      border-radius: 50%;
      bottom: -3.5px;
      content: "";
      height: 22px;
      left: 0;
      position: absolute;
      transition: 0.2s;
      width: 22px;
    }
  }
}

.react_select {
  &__control {
    border: 0 !important;
    border-radius: 30px !important;
    padding: 0.375rem 0.75rem;
  }

  &__placeholder {
    font-style: italic;
    opacity: 0.7;
  }

  &__multi-value {
    border-radius: 10px !important;
    margin: 0 0.25rem !important;

    &:first-child {
      margin-left: 0 !important;
    }

    &:last-child {
      margin-right: 0 !important;
    }
  }
}

.tag {
  display: flex;
  font-weight: 700;
  margin-bottom: 8px;

  li {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    font-family: "Karla";
    font-size: 0.8rem;
    line-height: 1;
    padding: 0.2rem 0.35rem;

    + li {
      margin-left: 5px;
    }
  }
}

.post {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 270px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 767.9px) and (min-width: 425px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 270px);
  }

  @media (max-width: 424.9px) {
    grid-template-rows: repeat(4, 270px);
  }

  &__highlight {
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    @media (hover: hover) {
      &:hover {
        h3,
        p.text {
          transform: none;
        }

        img {
          transform: scale(1.2) rotate(-2deg);
        }
      }
    }

    &-img {
      flex: 0 0 auto;
      max-height: 0;
      opacity: 0.3;
      width: auto;

      @media (min-width: 768px) {
        display: block;
      }

      img {
        border-radius: 5px;
        height: 270px;
        object-fit: cover;
        transition: transform 0.5s;
        width: 100%;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      height: 75%;
      justify-content: space-between;
      margin: auto 0;
      padding: 1rem;
      z-index: 5;

      &:hover {
        text-decoration: none;
      }

      h3 {
        transform: translateY(60px);
        transition: 0.25s;

        @media (max-width: 424.9px), (hover: none) {
          transform: none;
        }
      }

      p.text {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        -webkit-locale: "pt-BR";
        display: -webkit-box;
        hyphens: auto;
        margin-bottom: 0;
        overflow: hidden;
        transform: translateY(110px);
        transition: 0.3s;

        @media (max-width: 424.9px), (hover: none) {
          transform: none;
        }
      }
    }
  }
}

.detach {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  margin-bottom: 3rem;

  @media (min-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__highlight {
    border-radius: 5px;
    display: flex;
    flex: 1;
    height: auto;
    position: relative;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }

    &-img {
      display: none;
      flex: 0 0 auto;
      overflow: hidden;
      width: auto;

      @media (min-width: 576px) {
        display: block;
      }

      img {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s;
        width: 200px;
      }
    }

    &-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: hidden;
      padding: 20px;

      @media (hover: hover) {
        &:hover {
          & ~ .detach__highlight-img img {
            transform: rotate(-10deg) scale(1.2);
          }
        }
      }

      &:hover {
        text-decoration: none;
      }

      div,
      small {
        color: #aaa;
        margin-bottom: 5px;
      }

      p.text {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        -webkit-locale: "pt-BR";
        display: -webkit-box;
        flex: 1;
        hyphens: auto;
        overflow: hidden;
      }

      a {
        &:focus {
          box-shadow: none;
        }

        svg {
          display: none;
          margin-left: 10px;

          @media (min-width: 375px) {
            display: inline-block;
          }
        }
      }
    }
  }
}

.article {
  margin-bottom: 2rem;

  &__title,
  h2 {
    font-family: "Karla";
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  &__img {
    height: 300px;
    margin-bottom: 1rem;
    width: 100%;

    img {
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__meta {
    color: #aaa;
    margin-bottom: 1.25rem;
  }
}

.dropzone {
  align-items: center;
  border: 1px dashed;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 250px;
  justify-content: center;
  margin-bottom: 20px;
  outline: 0;

  &.has-thumbnail {
    border: 0;
  }

  img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  p {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
      height: 24px;
      margin-bottom: 8px;
      width: 24px;
    }
  }
}

.quill {
  font-family: "Rubik";

  .ql-toolbar.ql-snow {
    border: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Rubik";
  }

  .ql-container.ql-snow {
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Rubik";
    font-size: 1rem;
    min-height: 150px;
  }

  .ql-snow .ql-picker.ql-expanded .ql-picker-options {
    margin-top: 0;
  }

  .ql-editor img {
    max-width: 500px;
  }
}

.filters {
  margin-bottom: 2rem;

  button svg {
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
    transition: transform 0.3s;
  }
}

.form__comments {
  hr {
    margin-top: 0;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 4rem;
  max-width: 700px;

  &:last-child {
    margin-bottom: 0;
  }

  strong {
    margin-bottom: 1rem;

    svg {
      margin-bottom: 0.25rem;
      margin-right: 0.5rem;
    }

    time {
      font-size: 0.8rem;
      font-weight: 300;
      margin-left: 1rem;
      text-transform: lowercase;
    }
  }
}

.check {
  &__input {
    appearance: none;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    height: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    outline: none;
    transition: background-color 0.3s;
    vertical-align: top;
    width: 1rem;

    &:checked {
      background: #999;
      border-color: #999;
    }

    &:focus {
      color: map-get($colors, dark);
      outline: 0;
      transition: 0.2s;
    }
  }

  &__label {
    display: inline;
    margin-bottom: 0;
  }
}

.welcome {
  background: #000;
  font-family: "Karla";
}

.users {
  display: flex;
  flex-direction: column;

  header {
    align-items: center;
    background: transparent;
    display: flex;
    font-family: "Karla";
    font-size: 1.7rem;
    justify-content: center;
    margin-bottom: 2rem;

    strong {
      cursor: pointer;
      margin: 0 3rem;
      position: relative;
      text-transform: uppercase;

      &::before {
        bottom: 0;
        content: "";
        height: 3px;
        position: absolute;
        width: 0;
      }

      &.active {
        &::before {
          transition: width 0.4s;
          width: 100%;
        }
      }
    }
  }

  main {
    height: auto;
    margin: auto;
    width: 800px;
    position: relative;

    .list__reader,
    .list__author {
      opacity: 0;
      position: absolute;
      transition: opacity 0.4s, left 0.5s;
      width: 100%;

      &.active {
        left: 0;
        opacity: 1;
        width: 100%;
      }

      li {
        align-items: center;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 5%;

        &.disabled {
          opacity: 0.7;
          pointer-events: none;
        }

        .users__data {
          display: flex;

          &:first-child {
            align-items: center;
          }

          h4 {
            margin-bottom: 1rem;
          }

          p {
            margin: 0.5rem 0;
          }

          svg {
            margin-right: 2rem;
          }
        }
      }
    }

    .list__author {
      left: -70%;
    }

    .list__reader {
      left: 70%;
    }
  }
}

.latest {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

  h2 {
    font-weight: 400;
  }

  a {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.footer {
  background: map-get($colors, dark);
  color: #fff;
  height: 250px;
  margin: auto;
  padding: 50px 0;

  hr {
    background: #fff;
    margin: 2rem 0;
  }

  .socials {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 55px);
    grid-template-rows: 55px;
    justify-content: center;

    .social__media {
      align-items: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 1rem;
      position: relative;

      @media (hover: none) {
        overflow: visible;

        span {
          bottom: -25px !important;
          opacity: 1 !important;
          z-index: 0 !important;
        }

        .linkedin {
          color: #0a66c2;
          transform: scale(1.2);
        }

        .github {
          color: #000;
          transform: scale(1.2);
        }
      }

      &:hover {
        overflow: visible;

        span {
          bottom: -25px;
          opacity: 1;
          z-index: 0;
        }

        .linkedin {
          color: #0a66c2;
          transform: scale(1.2);
        }

        .github {
          color: #000;
          transform: scale(1.2);
        }
      }

      span {
        align-items: center;
        background: #000;
        border-radius: 5px;
        bottom: -45px;
        display: flex;
        font-size: 0.75rem;
        justify-content: center;
        opacity: 0;
        padding: 0.5rem;
        position: absolute;
        text-transform: uppercase;
        transition: bottom 0.5s, opacity 0.5s;
        z-index: -1;
      }

      svg {
        font-size: 1.5rem;
        transition: color 0.2s, transform 0.3s;
      }
    }
  }

  .copyright {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Karla";
    justify-content: center;
  }
}
